.navbar
{
    border-bottom:white 2px solid;
}

.navbar .navbar-brand 
{
    font-size:30px;
}

.bg-dark
{
    background-color: darkorange !important;
}

.nav-link
{
    color:white !important;
    text-transform: uppercase;

}

.nav-link:hover
{
color:yellow !important;
}
